/* --- משתנים גלובליים לפי צבעי הלוגו --- */
:root {
    --color-orange: #FF9F1C;
    --color-green: #8bc34a;
    --color-purple: #673AB7;
    --color-navy: #1A1A2E; 
    --bg-color: #f0f4f8;
    --text-light: #ffffff;
}

/* --- הגדרות בסיס --- */
* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    min-height: 100vh;
    background-color: #F9FAFB;
    color: #2D3436;
    overflow-x: hidden;
    position: relative;
    /* Subtle geometric pattern */
    /* background-image:
        radial-gradient(rgba(46, 204, 113, 0.45) 2px, transparent 1px),
        radial-gradient(rgba(74, 17, 121, 0.2) 2.5px, transparent 1px);
    background-size: 32px 32px;
    background-position: 0 0, 16px 16px;
    background-attachment: fixed; */

    background-image:
        linear-gradient(rgba(112, 46, 204, 0.06) 3px, transparent 1px),
        linear-gradient(90deg, rgba(128, 46, 204, 0.06) 3px, transparent 1px);
    background-size: 30px 30px;
    background-attachment: fixed;
}

a { 
    text-decoration: none; 
    color: inherit; 
}

/* --- Footer --- */
.site-footer {
    margin-top: 5rem;
    border-top: 1px solid rgba(0,0,0,0.05);
    padding: 2rem 0;
    background: #1A1A2E;
    text-align: center;
    color: white;
}

.follow-us {
    direction: ltr;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a img {
    width: 24px;
    height: 24px;
    transition: transform 0.2s;
}

.social-icons a img:hover {
    transform: scale(1.2);
}


.site-footer p {
    margin-bottom: 10px;
    font-size: 0.9rem;
}

/* התאמה למובייל */
@media (max-width: 600px) {
    .site-header {
        flex-direction: column-reverse;
        gap: 10px;
        padding: 15px;
    }
    .header-right {
        flex-direction: column;
    }
    .main-nav {
        border-right: none;
        padding-right: 0;
    }
}